* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.padding {
  padding: 20px 170px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
#settings{
margin: 10 10 0 0;
}
#back{
margin: 10 0 0 10;
}
.lecture-name {
  display: inline;
  width: 156px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 185%;
  color: #8c2c8c;
}
.chapter {
  width: 275px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: #222b45;
}

.whole-time {
  width: 57px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 200%;
  color: #8f9bb3;
  margin-left: 2;
    margin-right: 5;
}
.video-icon{
    margin-right: 2;
    margin-left: 5;
}
.videos-number {
  width: 54px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 200%;
  color: #8f9bb3;
}
h4 {
  width: 160px;
  height: 24px;
  font-family: Open-Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: #222b45;
  margin-left: 12px;
}

.lecture-time {
  width: 62px;
  font-family: Open-Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #8f9bb3;
}
.bg {
  position: absolute;
  top: 341px;
  height: 100%;
  width: 100%;

  background: #ffffff;
  border-radius: 32px;
}
video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 374px;
  background-color: rgb(0, 0, 0);
}
.video-container {
  float: left;
  left: 0;
  top: 0;
  z-index: -1;
}

.videos {
  position: absolute;
  top: 500px;
  height: 100%;
  width: 100%;
}
div {
  margin-left: 28px;
}
.align-center {
  display: flex;
  align-items: center;
  margin-top: 12px;
  justify-content: space-between;
  margin-right: 24px;
  margin-bottom: 6px;
}
.two-icons {
  align-items: flex-start;
}
.section-details {
  display: flex;
  align-content: center;
}

h3 {
  width: 58px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.32px;
  color: #8c2c8c;
  margin-bottom : 21px;
}

.lecture-photo{
    width: 96px;
height: 52px;
border-radius: 5px;

 
}
.lecture-row{
    display: flex;
    margin-bottom: 30;
}
.no-margin-div{
    margin: 0%;
}

.time-element{
    display: flex;
    margin-left: 12px;
}
  