* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.padding {
  padding: 20px 170px;
}
header {
    position: fixed;
    width: 100%;
    z-index: 999;
  
    display: flex;
    justify-content: space-between;
}
.lecture-name {
  display: inline;
  width: 156px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 185%;
  color: #8c2c8c;
}
.chapter {
  width: 275px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: #222b45;
}

.whole-time {
  width: 57px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 200%;
  color: #8f9bb3;
}
.videos-number {
  width: 54px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 200%;
  color: #8f9bb3;
}
h4 {
  width: 227px;
  height: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #222b45;
}

.lecture-time {
  width: 62px;
  height: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #8f9bb3;
}
.bg {
  position: absolute;
  top: 341px;
  height: 100%;
  width: 100%;
  z-index: 9998;

  background: #ffffff;
  border-radius: 32px;
}
video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 374px;
}
.video-container {
  float: left;
  left: 0;
  top: 0;
}
body {
  background-color: black;
}
.videos{
    position: absolute;
    top: 500px;
    height: 100%;
    width: 100%;
    z-index: 9998;
  
}
div{
    margin-left: 28px;
}
#setting{
    

}
#back{


}